<%-include('templates/header.ejs')%>

    <main>

        <section class="sectionCurso">
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Dietética</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam laboriosam architecto placeat
                        corporis, totam quasi molestiae! Ea quis in fugit, dolorem ratione officia aperiam ullam natus
                        velit, rerum, vero suscipit?</p>
                </div>
            </figure>
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Peluqueria</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ducimus ipsum accusamus qui atque
                        animi quasi sequi asperiores expedita odio illum explicabo, fugiat veniam repudiandae recusandae
                        consectetur, vel cupiditate. Blanditiis.</p>
                </div>
            </figure>
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Desarrolo WEB</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat dolores, quibusdam odit
                        consectetur est voluptas suscipit non pariatur molestiae perferendis, repellat itaque voluptatum
                        eum repellendus incidunt ullam. Voluptatum, eligendi quo!</p>
                </div>
            </figure>
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Gestión Administrativa</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet id vitae libero quam adipisci
                        repudiandae quibusdam ipsa quasi aspernatur maiores ducimus deserunt repellendus exercitationem
                        saepe, consequuntur harum temporibus laboriosam velit!</p>
                </div>
            </figure>
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Educación Infantil</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum ad reprehenderit tenetur iste
                        delectus corrupti voluptatum eaque mollitia ipsum repudiandae, eveniet minus, magni repellendus
                        porro sit, magnam iure laboriosam. Voluptatem?</p>
                </div>

            </figure>
            <figure>
                <div class="imgCurso">
                    <img src="" alt="">
                </div>
                <div class="imgText">
                    <h3>Animaciones 3D</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla delectus nam facere eveniet
                        totam, quae labore voluptatem ducimus aperiam provident dolor iste dicta reiciendis impedit
                        aliquid itaque molestiae quam quaerat!</p>
                </div>
            </figure>
        </section>

    </main>

    <%-include('templates/footer.ejs')%>