<%-include('templates/header.ejs')%>

<main>

<section class="pagInstalaciones">
    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

    
    <figure>
        <div class="imgInst"><img src="" alt=""></div>
        <p>instalaciones</p>
    </figure>

</section>

</main>

<%-include('templates/footer')%>