<%-include('templates/header.ejs')%>

    <main>
        <section class="pagProf">
             
            <h1>Professores</h1>
            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>

            <figure>
                <div class="imgProf"><img src="" alt=""></div>
                <h2>Nombre</h2>
                <p>professor de ...</p>
            </figure>
        </section>

    </main>


    <%-include('templates/footer.ejs')%>