:root {
    --colorFundo-- : res;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ----------------------------------  HEADER ------------------------------ */


/* ----------------------------- INDEX -------------------------------- */

/* ----------------------------- FOOTER -------------------------------- */

@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/



/* ---------------------------- CURSOS ------------------------------- */ 

@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/


/* ----------------------------- INSTALACIONES -------------------*/

@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/


/* -------------------------- PROFESSORES -------------------- */

@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/


/* ------------------------ CONTACTO ------------------------ */


@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/















@media screen and (min-width:768px) {

}/*768*/


@media screen and (min-width:992px){

}/*992*/


@media screen and (min-width: 1200px) {

}/*1200*/








